* {
    box-sizing: border-box;
}

.todolist {
    background-color:darkcyan;
    width: 40%;
    color: darkblue;
    padding: 10px;
}

h1 {
    font-family: 'Redressed', cursive;
    text-align: center;
}

.form {
    text-align: center;
}

input {
    color: rgba(0,0,139,0.5);
    border: 0.5px solid darkblue;
}

#btn_add {
    color: darkblue;
    border: 0.5px solid darkblue;
    background-color:lightsteelblue;
}

#btn_add:hover {
    color: white;
}
ul {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 10pt;
    line-height: 2;
    background-color:lightsteelblue;
    margin: 5% auto;
    list-style-type: none;
}

.lineThrough {
    text-decoration: line-through;
    color: grey;
}

li {
    position: relative;
}

li:hover {
    color: darkcyan;
}

.del {
    position: absolute;
    right: 0;
    color: white;
}